body {
  background-color: #E8E8E8;
}
/* ===== ===== header ===== ===== */
/*.header {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 60px;
  color: #21618C;
}
h2 {
  color: #1E31EC;
  font-size: 35px;
}*/

/* ===== ===== main menu ===== ===== */
#site-header-box {
  position: absolute;
  text-align: left;
  width: 1040px;
  height: 50px;
}
#site-logo-box {
  font-size: 35px;
  width: 150px;
  float: left;
}
#nav-menu-box {
  position: relative;
  right: -470px;
  width: 420px;
  float: left;
}
.submenu {
  display: flex;
  flex-direction: row;
  width: 110px;
  margin: 0 3% 0 1%;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  float: left;
}
.submenu:hover {
  font-size: 35px;
  transition: 500ms;
  text-decoration: underline;
  color: red;
  font-weight: bold;
}

/* ===== ===== article ===== ===== */
.article-section {
  width: 1000px;
  height: 250px;
}
#image {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 10px;
}
#profile-bio {
  font-family: 'Quicksand', sans-serif;
  width: 700px;
  font-size: 20px;
  margin-left: 200px;
}
